@import url("poppins.css");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(#050e4f, #050716);
}

.page {
  width: 100%;
  height: 100%;
  padding: 0 128px;
  align-items: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 64px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 16px;
  }
}

input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .9);
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .08);
  font-size: 20px;
  border-radius: 4px;
  padding: 24px;
  backdrop-filter: blur(8px);
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, .45);
  opacity: 1;
}

@media (max-width: 1024px) {
  input[type="text"] {
    font-size: 18px;
    padding: 16px;
  }
}

@media (max-width: 768px) {
  input[type="text"] {
    font-size: 16px;
    padding: 12px;
  }
}

.github-fork-ribbon {
  opacity: .5;
  transition: opacity .2s;
}

.github-fork-ribbon:hover {
  opacity: 1;
}

.github-fork-ribbon:before {
  background-color: #000;
}